# PREPARACIÓN Y EXPLORACIÓN DE DATOS

### TITANIC BASE DE DATOS

In [1]:
import pandas as pd 
import os
mainpath = "C:/Users/ACER/Desktop/Curso DSML_UNALM/Clase_3_Supervised Learning/"
filename = "titanic3.csv"
fullpath = os.path.join(mainpath,filename)

In [2]:
# Cómo se en qué ruta estoy?
os.getcwd()

'C:\\Users\\ACER\\Desktop\\Curso DSML_UNALM\\Clase_3_Supervised Learning'

In [3]:
# Cargar la base de datos con la librería pandas:
data = pd.read_csv(fullpath)
data

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

### ELIMINANDO NaN DEL DATAFRAME

In [4]:
#COLUMNAS QUE NO TENGAN MISSING - ELIMINAR COLUMNAS QUE CONTENGAN ALGÚN MISSING
columns_with_na_dropped = data.dropna(axis=1)
columns_with_na_dropped.head()

,pclass,survived,name,sex,sibsp,parch,ticket
0,1,1,"Allen, Miss. Elisabeth Walton",female,0,0,24160
1,1,1,"Allison, Master. Hudson Trevor",male,1,2,113781
2,1,0,"Allison, Miss. Helen Loraine",female,1,2,113781
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,1,2,113781
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,1,2,113781

In [5]:
#FILAS QUE NO CONTENGAN MISSING
rows_with_na_dropped = data.dropna(axis=0)
rows_with_na_dropped.head(0)
# Ningún pasajero tiene los datos completos según la tabla

Empty DataFrame
Columns: [pclass, survived, name, sex, age, sibsp, parch, ticket, fare, cabin, embarked, boat, body, home.dest]
Index: []

In [6]:
#IMPRIMIR NÚMERO DE COLUMNAS ORIGINALES Y COLUMNA FINALES
print("Columnas en el conjunto de datos original: %d \n" % data.shape[1])
print("Columnas finales: %d \n" % columns_with_na_dropped.shape[1])
# Se eliminaron las 7 columnas con datos

Columnas en el conjunto de datos original: 14

Columnas finales: 7

In [ ]:
#PORCENTAJE DE COLUMNAS EN MISSING
print(str(columns_with_na_dropped.shape[1]/data.shape[1]*100)+"%")

In [ ]:
#MÉTODO VISUAL PARA VER QUÉ COLUMNAS CONTIENEN ALGÚN MISSING
data.isnull().any()

In [ ]:
#COLUMNAS CON MISSING
null_columns=data.columns[data.isnull().any()]
print(null_columns)

In [ ]:
data[data.any(axis=1)].shape # Ver dimensiones sin filtrado

In [ ]:
data[data.isnull().any(axis=1)].shape # Ver dimensiones filtradas

In [ ]:
data[data.isnull().any(axis=1)].head(20)

In [ ]:
#Número de missing por columns
data.isnull().sum() #Cantidad de datos missing según la variable --> body: No se encontró el cuerpo

In [ ]:
import missingno as msno #colores oscuros está entera, sino faltan datos / más multivariado cómo afecta a cada uno
msno.matrix(data)

In [ ]:
msno.bar(data) #más univariado

In [ ]:
#matriz de correlaciones entre número de missing en cada columna
msno.heatmap(data)
#Dato: Correlación espuria / No hay dependencia de variables

In [ ]:
# IMPUTACIONES  -- Verificar el % de missing (si es más de 5% no es adecuado)

In [ ]:
data["age"] #

In [ ]:
data["age"].fillna(method="ffill") #forward fill- valor inmediatamente anterior

In [ ]:
data["age"].fillna(method="bfill") #backward fill - valor inmediatamente después

In [ ]:
print(data["age"].mean())
print(data["age"].median()) 
print(data["age"].mode())
# La moda es 24 pero la media y mediana son mayores porque hay personas con mucho mayor edad

In [ ]:
data["age"].fillna(data["age"].median()) #Es mejor para imputar NaN cuando hay casos extremos

In [ ]:
print("Promedio varones %d \n" % data[data["sex"]=="male"]["age"].mean())#Imputación diferenciada
print("Promedio mujeres %d \n" % data[data["sex"]=="female"]["age"].mean())#Imputación diferenciada

In [ ]:
data[data["age"]< 18] .shape

In [ ]:
data[data["age"] >18] .shape

In [ ]:
OUTLIERS

In [ ]:
import numpy as np
import random
np.random.seed(20) #Datos con aleatoriedad ~ pero para validar o replicar y que se repitan los valores aleatorios
mu, sigma = 0, 0.1 # para una standar
dat1 = np.random.normal(mu,sigma,1000) #Distr normal con media mu, desviacion sigma
dat2 = np.random.normal(mu,sigma,1000)
dat3 = np.random.normal(mu,sigma,1000)
dat4 = np.random.normal(mu,sigma,1000)
dat5 = np.random.normal(mu,sigma,1000)
dat1=pd.DataFrame(data=dat1, columns = ['C1']) #Convirtiendo en DF
dat2=pd.DataFrame(data=dat2, columns = ['C2'])
dat3=pd.DataFrame(data=dat3, columns = ['C3'])
dat4=pd.DataFrame(data=dat4, columns = ['C4'])
dat5=pd.DataFrame(data=dat5, columns = ['C5'])
final=pd.concat([dat1, dat2, dat3,dat4,dat5], axis=1)
final

In [ ]:
final.plot.box(grid="Tape") #VER LA DISTRIBUCIÓN DE LA VARIABLE

In [ ]:
import matplotlib.pyplot as plt
plt.boxplot(final["C1"])
plt.ylabel("Número de variable C1")
plt.title("Título")

In [ ]:
final.iloc[23:24, 4:5]=final.iloc[23:24, 4:5]*10 #Selección de un rango del dataframe ~ como el excel/primeros filas
final.iloc[60:61, 4:5]=final.iloc[60:61, 4:5]*10

In [ ]:
final.plot.box()

In [ ]:
#valor outlier
iqr = final["C5"].quantile(0.75) - final["C5"].quantile(0.25)
final["flg_out"]=(final["C5"]< np.percentile(final["C5"], 25)-1.5*iqr) | (final["C5"]> np.percentile(final["C5"], 75)+1.5*iqr)

In [ ]:
final[final["flg_out"]==True]

In [ ]:
from sklearn import preprocessing
p1=preprocessing.scale(final["C5"])
final["flg_out2"]=abs(p1)>2
final

In [ ]:
final[final["flg_out2"]==True]

In [ ]:
final2=final.iloc[:, 0:5]
final2

In [ ]:
from scipy.spatial.distance import mahalanobis
import scipy as sp
import pandas as pd

x = final2
#x = x.iloc[:,1:]

#matriz de covarianzas
Sx = x.cov().values
#inversa de la matriz de covarianzas
Sx = sp.linalg.inv(Sx)

mean = x.mean().values

def mahalanobisR(X,meanCol,IC):
    m = []
    for i in range(X.shape[0]):
        m.append(mahalanobis(X.iloc[i,:],meanCol,IC) ** 2)
    return(m)

mR = pd.DataFrame(mahalanobisR(x,mean,Sx), columns = ['mR'])
final['mr']=mR

In [ ]:
final['index'] = final.index
final

In [ ]:
plt.scatter(final["index"],final['mr'])

In [ ]:
final[final["mr"]>50]

# Escalamiento o Transformación de datos

In [ ]:
import pandas as pd
import os
mainpath = "C:/Users/ACER/Desktop/Curso DSML_UNALM/Clase_3_Supervised Learning/"
filename = "credit2.csv"
fullpath = os.path.join(mainpath, filename)
#CARGAR TUS BASES
data = pd.read_csv(fullpath,sep=";")
#data = pd.read_csv(fullpath,sep=';')
data.head(10)
data.dtypes
data

In [ ]:
# DEFINIENDO VALORES CATEGÓRICOS 0 --> CATEGORIA O
# Método dando número
data['Y_2'] = pd.factorize(data["Y"])[0]
data[['Y_2','Y']] 
# Método categorizando
data["Y_2"] = data["Y_2"].astype('category')
data["Y_2"]

In [ ]:
# **Z Score**

In [ ]:
from sklearn import preprocessing
data["DM_ZS"]=preprocessing.scale(data["DM"])
data

In [ ]:
# Nor Min Max

In [ ]:
#[a,b] [0,1]
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))

A = scaler.fit_transform(data[["DM"]])

data["DM_MM"]=pd.DataFrame(data=A)
data["DM_MM"].max()

In [ ]:
# Escalamiento decimal

In [ ]:
maxvect=max(abs(data["DM"]))
maxvect

In [ ]:
import math
kvector=math.floor(math.log10(maxvect))
kvector=kvector+1

In [ ]:
scalefactor = 10**kvector
scalefactor

In [ ]:
data["DM_ED"]=data["DM"]/scalefactor

In [ ]:
data

In [ ]:
# Norm Sofmax

In [ ]:
import numpy as np
A = preprocessing.scale(data["DM"])
M=pd.DataFrame(data=A,columns=["A"])
M
M["A"]=M["A"]*-1
M
N=1/(1+np.exp(M["A"]))
data["DM_SM"]=N
data

In [ ]:
data.iloc[:,9:].plot.box(grid='True') #grid='True'
#Cuál uso? Para un modelamiento robusto --> No hay una mejor que otra, inclusive sin transformar

In [ ]:
# FEATURE ENGINE ~ FACTORES DE IGUAL FRECUENCIA

In [ ]:
import pandas as pd
import os
mainpath = "C:/Users/ACER/Desktop/Curso DSML_UNALM/Clase_3_Supervised Learning/"
filename = "credit2.csv"
fullpath = os.path.join(mainpath, filename)
#CARGAR TUS BASES
data = pd.read_csv(fullpath,sep=";")
data.head(10)
data.dtypes
data

In [ ]:
from feature_engine import discretisers as dsc

In [ ]:
disc = dsc.EqualFrequencyDiscretiser(q=10, variables=['DM'])
disc.fit(data)
data_t= disc.transform(data)
data_t["N"]=1
data_t